{%include 'header.html.twig'%}
<h1>Strona Główna</h1>
<a href="upload">Wgraj mema</a>
<br><br>
{% for post in posts %}

<div>
    <button type='button' class='comment'>
        💬
    </button> 
    <div>
        <button type='button'>▲</button>
        <div>69</div>
        <button type='button'>▼</button>
        
    </div>
    <div>
        <h2>{{ post.getTitle() }}</h2>
        {{ post.getTimestamp() }}<br>
    </div>
<img class='img' src="{{ post.getFilename() }}"><br></div>
{% endfor %}

{%include 'footer.html.twig'%}






<!-- 
    {% include 'header.html.twig' %}
<h1>Strona główna</h1>
{% for post in posts %}
<img src="" post.getFilename() }}>
{% endfor %}
{% include 'footer.html.twig' %}
-->
